@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #161616;
    color: #f4f4f4;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #161616;
  }

  ::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
  }
}
